*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}
.background{
    background: url(.//images/menu-list-back.png);
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    z-index: -1;
}
.noodles-list{
    background-color: rgba(207, 206, 206, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    width: 80%;
    height: 80%;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: auto;
}
.noodles-list h2{
    margin: 20px 0;
    color: rgb(243, 139, 4);
    font-family: "Lobster", sans-serif;
}
.list{
    
    width: 80%;
    height: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: auto;
}
.list-box{
    background-color:rgb(19, 18, 18);
    border: 3px solid rgb(252, 184, 57);
    border-radius: 13px;
}
.list-box:hover{
    border: 3px solid white;
    transform: scale(1.05);
}
.list-box img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 10px 0;
    border: 3px solid orange;
}

a button{
    width: 110px;
    height: 30px;
    margin-top: 15px;
  background-color: #ff7b00;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
a button:hover{
border:1px solid white;
background-color: #cc6301;
}
.btn{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

@media  screen and (max-width:575px) {
    .list{
        height: 1200px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
        
    }
    .noodles-list{
        height: fit-content;
    }
    body{
        height: 1500px ;
    }
}

@media screen and (min-width:576px) and (max-width:997px) {

     .list{
        height: 700px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .noodles-list{
        height: fit-content;
    }
    body{
        height: 1000px ;
    }
    .list-box{
        width: 100%;
        height: 200px;
    }
}