*{margin: 0;padding: 0;box-sizing: border-box;}
body{font-family: Arial, sans-serif;background-color: black;}
/* navigation */
header{
    width: 100%;
    height: 10%;
    background-color: black;
    /* color: white; */
    position: fixed;
    /* top: 0; */
    padding: 1rem;
    z-index: 10;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 auto; */
}
.logo{
    font-weight: bold;font-size: 1.3rem;color: orange;
    font-family: Arial, sans-serif;
}
nav ul{
    display: flex;
}
nav ul li{
    margin-left: 25px;
    font-weight: bold;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    /* font-weight: bold; */
    /* transition: color 0.5s; */
}
nav ul li a:hover{
    color:orange;
    font-weight: bolder;
    
}
li a.sign{
padding: 5px;
background-color: orange;
border-radius: 15px;
}
li a.sign:hover{
    background-color: white;
    color: orange;
}


.first{
    height: 100vh;
    background-image: url(".//images/back2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
    color: white;
}
.first h1{
    font-size: 2.8rem;
    margin-bottom: 10px;
    color: rgb(196, 94, 35)
}
.first p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: rgb(218, 216, 216);
}
.btn{
    background-color: rgb(196, 94, 35);
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
}
footer{
    width: 100%;
    height: 70vh; 
    background-color: black;
}
.overall{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    gap: 20px;
    margin-top: 10%;
}
.overall h3{
    color: orange;
    padding-bottom: 20px;

}
.overall p{
    color: rgb(119, 116, 116);
    padding-bottom: 30px;
}
.kings,.discover,.for-you,.for{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.discover a{
    text-decoration: none;
}

#contact{
    width: 100%;
    color: rgb(119, 116, 116);
    display: flex;
    justify-content: space-around;
    padding: 30px;
    cursor: pointer;
}
.middle{
    color: orange;
}
i{
    color: white;
}
a{
    text-decoration: none;
}
@media screen and (max-width:575px) {
    .logo{
        font-size: 13px;
    }
    ul{
        font-size: 10px;
        font-weight: bold;
        align-items: center;
    }
    nav ul li a{
        margin-left: 10px;
    }

    .first h1{
        font-size: 1.5rem;
    }
    .first p{
        font-size: 1rem;
    }
    .btn{
        padding: 5px 10px;
        font-size: 15px;
    }
    #contact{
        font-size: 11px;
        margin-top: 50px;
    }
    
}

@media screen and (min-width:576px) and (max-width:997px) {

    .logo{
        font-size: 17px;
    }
    header nav ul{
        font-size: 15px;
        /* font-weight: bold; */
        align-items: center;
        /* margin-left: 1px; */

    }
    nav ul li a{
        margin-left: 15px;
    }

    .first h1{
        font-size: 2rem;
    }
    .first p{
        font-size:1.5rem ;
    }

    .btn{
        padding: 8px 14px;
        font-size: 15px;
    }

    #contact{
        font-size: 13px;
        margin-top: 50px;
    }
    
    
}