*{margin: 0;padding: 0;box-sizing: border-box;}
body{background-color: black;}
.container{display: flex;height: 100vh;width: 100%;
    /* position: relative; */
}
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Kaushan+Script&family=Rock+Salt&display=swap');
header{
    width: 100%;
    height: 10%;
    background-color: black;
    /* color: white; */
    position: fixed;
    /* top: 0; */
    padding: 1rem;
    z-index: 10;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 auto; */
}
.logo{
    font-weight: bold;font-size: 1.3rem;color: orange;
    font-family: Arial, sans-serif;
}
nav ul{
    display: flex;
   
}
nav ul li{
   margin-left: 25px;
    font-weight: bold;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    /* font-weight: bold; */
    /* transition: color 0.5s; */
}
nav ul li a:hover{
    color:orange;
    font-weight: bolder;
    
}
li a.sign{
padding: 5px;
background-color: orange;
border-radius: 15px;
}
li a.sign:hover{
    background-color: white;
}
a{
    text-decoration: none;
}

.menu-left{
    width: auto;
    height: 100vh;
    /* background-color: red; */
}
.menu-items{
    width: 100%;
    height: 90vh;
    background-color: black;
    position: relative;
    top: 9%;
    overflow-x: auto;
    overflow-y: auto;
}
.menu-items::-webkit-scrollbar{
    width: 0;
}
.food{
    width: 90%;
    height: 33%;
    margin: 20px 0;
    border: 3px double orange;
    border-radius: 15px;
    display: flex;
    position: relative;
    left: 20px;
    gap: 30px;
}
.food:hover{
    /* width: 95%; */
    /* height: 35%; */
    border: 3px double white;
    transform: scale(1.05);
}
.food>.left{
    height: 100%;
    width: 40%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* background-color: orange; */
}
.food>.right{
    height: 100%;
    width: 60%;
    /* background-color:white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.food img{
    height: 140px;
    width: 140px;
    position: relative;
    top: 22px;
    left: 17px;
    border-radius: 50%;
    border: 3px double orange;
}
.right>h2{
    color:orange;
    font-family: "Macondo", cursive;
    font-size: 2rem;
    margin-top: 30px;
    /* text-decoration: none; */
}
.right>p{
    color: white;
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    text-align: justify;
    margin-top: 20px;
    /* position: absolute;
    top: 100px; */
    padding:10px  25px;


}
/* .new{
     width: 90%;
    height: 32%;
    margin: 20px 0;
    border: 3px double orange;
    border-radius: 15px;
    display: flex;
    position: relative;
    left: 20px;
    display: flex;
    gap: 50px;
}
.new:hover{
    width:95% ;
    height: 35%;
} */
/* .new img{
    height: 120px;
    width: 120px;
    position: relative;
    top: 12px;
    left: 30px;
    border-radius: 50%;
    border: 3px double orange;
}
.new>h2{
    color:orange;
    font-family: "Macondo", cursive;
    font-size: 2rem;
    position: absolute;
    top: 125px;
    left: 20px;
} */
/* .menu-right{
    width: 70%;
    height: 100vh;
    background-image: url(./logo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
} */
.menu-right{
    width: 70%;
    height: 100vh;
    /* background: url(.//images/back-menu.jpg);
    background-repeat: no-repeat;
    background-size: 80% 100%; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.menu-right img{
    width: 339px;
}
.menu-content{
    height: 40%;
    width: 45%;display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
    background-color: red;
    text-align: center;
    /* position: relative; */
}
.today{
    font-family: "Permanent Marker", cursive;
    font-size: 42px;
    font-weight: 550;
    margin-top: 25%;
    margin-left: 10%;
    /* background-color: aqua; */
}
.delicious{
    font-family: "Beau Rivage", cursive;
    /* font-family: "Allison", cursive; */
    font-size: 60px;
    font-weight: 800;
    margin-left: 42%;
}
.menu{
    color: orange;
    font-size: 120px;
    margin-top: -20%;
    /* position: absolute; */
    /* top: -34px;
    left: 50px; */
}
.lim-off{
font-size: 30px;
font-weight: 500;
/* position: absolute; */
/* top:90px ;
left: 105px; */
}
footer{
    width: 100%;
    height: 70vh; 
    background-color: black;
}
.overall{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    gap: 20px;
    margin-top: 10%;
}
.overall h3{
    color: orange;
    padding-bottom: 20px;

}
.overall p{
    color: rgb(119, 116, 116);
    padding-bottom: 30px;
}
.kings,.discover,.for-you,.for{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.discover a{
    text-decoration: none;
}

#contact{
    width: 100%;
    color: rgb(119, 116, 116);
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.middle{
    color: orange;
}
i{
    color: white;
}
a{
    text-decoration: none;
}

@media screen and (max-width:575px) {
    .menu-left{
        width: 100%;
    }
    /* .menu-right{
        display: flex;
        flex-direction: column;
    } */
    /* .food{ 
        display: flex;
        flex-direction:column;
        height: fit-content;
        /* justify-content: center; */
        /* align-items: center;
        width: fit-content;
    } */
    .new{position: relative;height: 235px;}
    .new #img1{
        position: absolute;
    }
    .new h2{
        margin-top: 30px;
    }
    .new #img2{
        position: absolute;
        left: 50%;
    }
    .menu-right{display: none;}
    .logo{
        font-size: 13px;
    }
    ul{
        font-size: 12px;
        /* display: flex; */
    }
    #contact{
        font-size: 11px;
        margin-top: 50px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {

    .logo,ul{
        font-size: 14px;
    }
    .menu-left{
        width:min-content;
    }
    .right h2{
        font-size: 23px;
    }
    .new{position: relative;height: 235px;}
    .new #img1{
        position: absolute;
        left: 3%;
    }
    .new h2{
        margin-top: 30px;
        font-size: 23px;
    }
    .new #img2{
        position: absolute;
        left: 53%;
    }
    .menu-right{
        width: 20%;
        height: 30%;
        margin-top: 30%;
        /* background-color: aliceblue; */
        /* margin-left:-100px  ; */
    }
    /* .today{
        font-size: 20px;
        position: absolute;
        top: 10%;
    }
    .delicious{
        font-size: 40px;
        position: relative;
        top: 70%;
        left: -10%;
    }
    .menu{
        font-size: 100px;
        position: relative;
        top: 50%;
        left: -40%;
    }
    .lim-off{
        font-size: 22px;
        position: absolute;
        left: -10%;
        top: 60%;
    } */
     .food{
        height: auto;
     }
    .menu-right img{
        width: 300px;
        height: auto;
        margin-left: 0px;
    }
     .right-container{
        display: flex;
        align-items: center;
        justify-content: center;
     }
    body{
        background-color: black;
    }

    .menu-right{
        /* background-color: black; */
        width:min-content ;
        /* position: absolute;
        left: -70%; */
    }
    /* .back{
        background: url(.//images/back-menu.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    } */
    .right-container{
        margin-left: auto;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {

    .food{
        height: auto;
        /* width: auto; */
    }
    .menu-left{
        width: auto;
    }
    
}

@media screen and (min-width:992px) and (max-width:1199px) {

    .menu-left{
        width: auto;
    }
    
}

