*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.background{
    background: url(.//images/food-order-back.png);
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    z-index: -1;
}
.container{
    width: 50%;
    height: 40%;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.tick{
    font-size: 60px;
    color: green;
    padding: 30px;
    /* animation: tick 2s linear  infinite; */
    animation-name: tick;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes tick{
    /* 50%{
        transform: rotateY(180deg);
    } */
    100%{
        transform: rotateY(360deg);
    }
}
h2{
    padding-bottom: 20px;
}
p{
    font-size: 20px;
    font-weight: 300;
}
@media screen and (max-width:575px) {
    .container{
        height: 50%;
    }
    
}